<container class="header">
    <row class="collapse">
        <img src="http://emails.volchkevich.pro/general/christmas/assets/img/header_image.png" alt="main image">
    </row>

    <row>
        <a href="http://club.dowlatow.ru/" class="text-center">
            <center>
                <img class="header-logo small-float-center" src="http://emails.volchkevich.pro/general/christmas/assets/img/logo-general@2x.png" alt="Dowlatow logo">
            </center>
        </a>
    </row>

    <spacer size="30"></spacer>
</container>