<container class="border-radius-bottom">
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">Есть вопросы? Пишите: <a href="mailto:support@dowlatow.ru">support@dowlatow.ru</a></p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <menu>
                    <item href="#" class="social-icon"><img src="http://emails.volchkevich.pro/general/christmas/assets/img/social_icon_vk@2x.png" alt="Vkontakte"></item>
                    <item href="#" class="social-icon"><img src="http://emails.volchkevich.pro/general/christmas/assets/img/social_icon_facebook@2x.png" alt="Facebook"></item>
                    <item href="#" class="social-icon"><img src="http://emails.volchkevich.pro/general/christmas/assets/img/social_icon_youtube@2x.png" alt="YouTube"></item>
                </menu>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>