<container>
    <spacer size="30"></spacer>
    <row>
        <columns large="3">
            <img class="author-photo small-float-center" src="http://emails.volchkevich.pro/general/christmas/assets/img/author_photo.png" alt="Author photo">
        </columns>

        <columns large="9">
            <spacer size="16"></spacer>
            <h3 class="small-float-center author-name">Константин Довлатов</h3>
            <p class="small-float-center">Администратор Клуба и ваш личный помощник</p>
        </columns>
    </row>
    <spacer size="30"></spacer>
</container>